<% if policy(project).admin_tokens? %>
  <h2>Api Keys</h2>
  <%= render partial: '/project_tokens/list', locals: { project_tokens: project.project_tokens } %>
  <%= render partial: '/project_tokens/form', locals: { project: project } %>
<% end %>